extends ../layouts/default
			
block content
	section#bankflow
		.container.justify-content-center
			.row
				ol.breadcrumb.bg-transparent
					li.breadcrumb-item
						a(href="/") Home
					li.breadcrumb-item
						a(href="/business") Business Products &amp; Solutions
					li.breadcrumb-item Bankflow
			.row
				.col-lg-12
					h1.text-center Bankflow
					p.mb-4.text-left.lead Dolore nisi nisi eu esse duis. Nisi velit amet pariatur commodo. Ut dolor proident minim do fugiat consectetur incididunt.
			.row.justify-content-center.mb-5
				.col-md-5.text-left.text-md-center.e-reader
					p.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.col-md-7
					img.img-responsive(src="http://placehold.it/350x150", alt="Placeholder")
			.row.justify-content-center.mb-3
				.col-lg-12
					h1.text-center Features
			.row.justify-content-center.text-left
				.col-lg-12.justify-content-center
					
				.col-xs-12.col-md-4.mt-1
					img(src="http://placehold.it/350x150", alt="Placeholder").img-responsive
				.col-xs-12.col-md-8
					h5.text-left Point one
					p.lead Incididunt elit fugiat ex aliquip irure minim laboris officia ipsum in eiusmod sint ipsum Lorem. Mollit quis minim proident voluptate quis nostrud sint sunt est excepteur eiusmod. Enim esse laborum quis aliqua in sit duis ut elit aliqua nisi ea. Nostrud nisi sint qui quis. Aute incididunt enim id officia sit sit occaecat ea est incididunt magna. Magna commodo dolor amet nulla exercitation consectetur labore. Velit ad laboris adipisicing qui proident qui sint veniam deserunt est in commodo nisi.
				.col-xs-12.col-md-3
					h5 Point two
					img(src="http://placehold.it/350x150", alt="Placeholder").img-responsive
					p.lead Excepteur mollit mollit occaecat culpa magna nisi ea voluptate sint pariatur esse. Cillum ad et sint amet amet. Quis voluptate nostrud magna aliqua veniam veniam cillum voluptate.
				.col-xs-12.col-md-3
					h5 Point three
					img(src="http://placehold.it/350x150", alt="Placeholder").img-responsive
					p.lead Excepteur mollit mollit occaecat culpa magna nisi ea voluptate sint pariatur esse. Cillum ad et sint amet amet. Quis voluptate nostrud magna aliqua veniam veniam cillum voluptate.
				.col-xs-12.col-md-3
					h5 Point four
					img(src="http://placehold.it/350x150", alt="Placeholder").img-responsive
					p.lead Excepteur mollit mollit occaecat culpa magna nisi ea voluptate sint pariatur esse. Cillum ad et sint amet amet. Quis voluptate nostrud magna aliqua veniam veniam cillum voluptate.
				.col-xs-12.col-md-3
					h5 Point five
					img(src="http://placehold.it/350x150", alt="Placeholder").img-responsive
					p.lead Excepteur mollit mollit occaecat culpa magna nisi ea voluptate sint pariatur esse. Cillum ad et sint amet amet. Quis voluptate nostrud magna aliqua veniam veniam cillum voluptate.
				
			
					