extends ../layouts/default

block content
	section#business.main.justify-content-center
		.container
			.row.justify-content-center
				.col-lg-12
					h1.text-center Business Products and Solutions
					p.text-left Est ea nostrud dolore incididunt. Esse consequat occaecat ad excepteur et fugiat. Et anim eiusmod esse esse. Quis nostrud cupidatat duis elit non consectetur deserunt fugiat. Excepteur eu est sit pariatur labore tempor officia quis elit culpa. Do occaecat ex fugiat consequat consectetur sit cillum in dolor consequat non ex veniam mollit. Voluptate dolor tempor adipisicing adipisicing velit consectetur pariatur pariatur enim esse commodo excepteur ad eu. Deserunt et anim sunt do qui velit eu aliqua ad. Enim enim est anim ad sint.
					h1.text-center Products
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Retail ERP
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/retail-erp") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Distribution ERP
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/distribution-erp") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Marketflow
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/marketflow") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Bankflow
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/bankflow") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 CRM
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/crm") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Hospitality Management
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/hospitality") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Retail P.O.S.
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/retail") Learn More
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.mb-3
					h5 Telco
					img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					p.lead Amet pariatur consequat velit deserunt est exercitation pariatur officia ex consectetur.
					button.btn.btn-primary
						a(href="/products/telcos") Learn More
			.row.justify-content-center.clients
				.col-lg-12
					h1.text-center Selection of our Clients
				.business-client-single.row.m-0
					.col-xs-12.col-sm-6
						img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					.col-xs-12.col-sm-6
						h5 FFA Bank
						p Mollit consectetur laboris in pariatur et sint ipsum. Reprehenderit sit commodo ut fugiat ex officia. Deserunt Lorem magna Lorem in ut magna exercitation commodo et proident ullamco exercitation.
						button.btn.btn-primary.case-link
							a(data-target="#case-study") Case Study
				.divider
				.business-client-single.row.m-0
					.col-xs-12.col-sm-6
						h5 Client two
						p Mollit consectetur laboris in pariatur et sint ipsum. Reprehenderit sit commodo ut fugiat ex officia. Deserunt Lorem magna Lorem in ut magna exercitation commodo et proident ullamco exercitation.
					.col-xs-12.col-sm-6
						img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
				.divider
				.business-client-single.row.m-0
					.col-xs-12.col-sm-6
						img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
					.col-xs-12.col-sm-6
						h5 Client three
						p Mollit consectetur laboris in pariatur et sint ipsum. Reprehenderit sit commodo ut fugiat ex officia. Deserunt Lorem magna Lorem in ut magna exercitation commodo et proident ullamco exercitation.
				.divider
				.business-client-single.row.m-0
					.col-xs-12.col-sm-6
						h5 Client four
						p Mollit consectetur laboris in pariatur et sint ipsum. Reprehenderit sit commodo ut fugiat ex officia. Deserunt Lorem magna Lorem in ut magna exercitation commodo et proident ullamco exercitation.
					.col-xs-12.col-sm-6
						img(src="http://via.placeholder.com/350x150", alt="Placeholder").img-fluid
			.row.justify-content-center.mt-5#case-study
				.col-lg-12
					h1.text-center Case Study: FFA Bank
					div(style="width:100%;height:300px;background-color:rgba(0,0,0,0.5)").e-reader.mb-4
						p.text-white.text-center Infographic
					p Incididunt ex dolore aute irure do. Reprehenderit ex ad in irure. Dolore aliquip est enim aliqua laborum voluptate nostrud esse ut occaecat commodo anim. Sunt cupidatat est sit nostrud culpa exercitation nisi nostrud. Do voluptate et proident fugiat cillum. Excepteur cillum duis id reprehenderit eu sint consequat.Tempor incididunt quis cillum ad irure ut ad enim nulla enim. Id duis esse ullamco commodo quis. Sit aliqua occaecat ut mollit Lorem aliquip ad aliquip nostrud ea dolor anim commodo. Anim qui Lorem cupidatat quis fugiat laboris enim ullamco aute cillum duis. Tempor amet qui enim occaecat tempor. Lorem tempor magna adipisicing fugiat magna aliquip non. Magna officia in aliquip ea quis Lorem.Cillum in adipisicing id tempor ex consequat sint duis consectetur. Qui est ipsum tempor do est proident eu. Culpa deserunt voluptate ad sint. Elit labore incididunt cillum esse cupidatat culpa consequat laboris do pariatur minim officia.
					
block js
	script(src="js/jquery/jquery.easing.min.js")
	script(src="js/link-easing.js")