extends ../layouts/default

block background
    section#intro.careers.parallax-background
        .careers-container
            .careers-home
                h3.container.text-center We are always looking for talent to add to our growing teams in Beirut and Dublin. Quis sit esse Lorem culpa anim cillum ullamco culpa sunt fugiat. 
block content
    section#careers.main.justify-content-center
        .container.mt-0
            .row
                h1.text-center.full-width.mb-3 Careers at Dataflow
                .col-lg-12
                    p.light Deserunt dolore ut laborum ad sit velit esse consectetur sit sint ad tempor sint. Irure commodo dolore amet adipisicing velit tempor nisi aliqua commodo elit quis magna laboris nostrud. Tempor et ex pariatur occaecat ex. Dolor adipisicing ea fugiat officia excepteur mollit. Pariatur esse tempor non irure sit sit qui id. Enim occaecat laborum enim labore anim labore irure. Officia eiusmod dolor anim eiusmod amet anim.
                    p.light Labore duis ex incididunt ipsum aliquip reprehenderit cillum culpa ut. Consequat incididunt labore mollit dolor esse aute cillum. Aliqua qui adipisicing aliquip occaecat consequat ad dolor ipsum nulla in reprehenderit. Et fugiat sunt id tempor proident deserunt eu enim aliqua Lorem labore nostrud. Aliquip ullamco aliquip duis commodo dolore labore sint velit occaecat nostrud laboris labore esse. Dolore ad commodo culpa sunt do laborum est. Dolore ad adipisicing tempor magna duis occaecat ad dolore ex reprehenderit tempor cillum id.
                    ul.jobs-list.light.float-left
                        li Project Manager
                        li UX Developer
                        li Multimedia Designer
                        li Senior Web Developer
                        li Junior Software Engineer
                    div.jobs-list.float-left.text-center
                        .panel
                            h3.mb-3 Interested?
                            a(href="/contact").btn.btn-primary Contact Us