extends ../layouts/default

block css
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.css")

block content
    section#custom.main.justify-content-center
        .container
            .row
                .col-lg-12
                    h1.text-center Custom Solutions
                    p.lead Consectetur sunt dolore aliquip fugiat magna id esse fugiat labore. Sint in voluptate Lorem enim aliquip magna. Veniam ea elit labore et ad minim sint dolore. Deserunt mollit amet anim irure ad consequat id mollit aliquip mollit occaecat. Est pariatur fugiat culpa mollit id cupidatat. Est occaecat fugiat excepteur ad reprehenderit.Veniam velit ut aliqua nulla aliquip duis excepteur cillum commodo. Nostrud ut velit tempor qui duis nisi ex magna. Ex minim dolore aute et aliquip deserunt consequat aliquip voluptate ea in. Lorem labore aliqua dolor quis duis exercitation ut minim. Consectetur exercitation est anim do aliquip incididunt commodo nulla ullamco. Eu nostrud commodo magna laborum ex ut proident reprehenderit officia. Tempor do dolor tempor pariatur minim.Occaecat in cupidatat ipsum exercitation mollit est id. Non culpa voluptate proident minim eu laborum quis laborum culpa sunt. Minim magna Lorem sint nostrud adipisicing dolor exercitation id cupidatat. Do dolore voluptate sint occaecat occaecat. Eiusmod officia nisi veniam deserunt pariatur culpa do mollit. Do consectetur laborum tempor sit ipsum mollit proident ullamco sint tempor. Cupidatat consectetur ut nostrud minim exercitation in eiusmod laboris esse.
            .row.justify-content-center
                .col-lg-12
                    h3 Cloud Support
                    p.lead Tempor irure Lorem irure veniam duis labore laboris nulla. Consequat esse irure exercitation eu reprehenderit exercitation excepteur laboris aliqua sit tempor tempor. Irure nisi ullamco tempor irure. Amet enim non quis sit in mollit eiusmod cupidatat. Enim enim esse consectetur elit proident duis adipisicing.
                    .devicons
                        div
                            i.devicon-amazonwebservices-original.xl
                            span AWS
                        div
                            //i.devicon-windows8-original.xl
                            img(src="images/tech/azure-icon-250x250.png").fit-icon
                            span Azure
                        div
                            i.icon-mssql.xl
                            span Microsoft SQL Server
                .col-lg-12
                    h3 Platforms &amp; Technologies
                    p.lead Velit ea sint nisi aute et consectetur nulla ullamco qui consectetur sint. Tempor ad enim occaecat duis consequat officia aliquip laborum id dolore minim. Consectetur laborum deserunt fugiat exercitation ex eiusmod consectetur elit cupidatat Lorem officia ex.
                    .devicons
                        div
                            i.devicon-dot-net-plain
                            span .NET
                        div
                            i.devicon-android-plain
                            span Android
                        div
                            i.devicon-html5-plain
                            span HTML5
                        div
                            i.devicon-apple-original
                            span iOS
                        div
                            i.devicon-java-plain
                            span Java
                        div
                            i.devicon-nodejs-plain
                            span Node.js
                        div
                            i.devicon-swift-plain
                            span Swift
                        div
                            i.devicon-oracle-original
                            span Oracle
                        div
                            i.devicon-mysql-plain
                            span MySQL
                        div
                            i.devicon-windows8-original
                            span Windows
block js
    script(src="js/icons.js")
    script(src="js/jquery/jquery.easing.min.js")
    script(src="js/link-easing.js")