extends ../layouts/default
			
block content
	section#education.justify-content-center.main
		.container
			.row.overview.justify-content-center
				.col-xs-12.col-md-10
					h1.text-center Education Solutions
					p.lead Dataflow Learning (“DFL”) is an education consulting and technology provider, specializing in product and solutions for the education and training sectors. DFL’s strong education credentials, which includes experts with many years of K-12 / higher education teaching, and corporate and vocational training, have allowed it to successfully implement curriculum and training programs on a national scale in many markets. The DFL team has been at the forefront of transforming education through innovative solutions, with local orientation, for the past 14 years.
			.row.justify-content-center.e-reader
				.col-xs-12.text-center
					h1 eLearning Platform
			.row.justify-content-center.mb-5
				.col-md-4.mb-5.text-left.text-md-center
					p.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					a(href="http://dataflowlearning.com/#solutions", title="Dataflow Learning - Solutions").btn.btn-primary
						i.fa.fa-external-link
						| Learn More
				.col-md-7
					img.img-fluid(src="images/e-reader1.jpeg", alt="E-Reader Screenshot")
			h1.text-center Industry Expertise
			.row.text-sm-center.justify-content-center.expertise
				.col-sm-6.col-lg-3
					h5.mt-4 Primary / Secondary
					p Quis sunt eiusmod eu dolor est irure elit. Nisi nulla non ipsum non reprehenderit laboris aute. Eu proident aliquip cillum eu cupidatat mollit proident. Incididunt nulla incididunt ex dolor irure consectetur. Adipisicing pariatur nulla est dolore do do velit quis nostrud incididunt veniam. Voluptate aliquip est adipisicing est ullamco id amet ipsum. Esse sit eiusmod pariatur dolore adipisicing fugiat deserunt elit.
				.col-sm-6.col-lg-3
					h5.mt-4 Third Level
					p Id ipsum nisi cupidatat deserunt enim consequat fugiat qui consequat. Est cupidatat ex non ea elit do ullamco deserunt deserunt. Dolore sit aliquip ut ullamco in fugiat excepteur non ut sit. Nostrud minim sit minim ex irure pariatur est officia exercitation laboris quis officia sit. Qui amet sit tempor aliqua elit laborum reprehenderit labore do id. Aute proident minim ea anim non adipisicing.
				.col-sm-6.col-lg-3
					h5.mt-4 Professional Development
					p Id ipsum nisi cupidatat deserunt enim consequat fugiat qui consequat. Est cupidatat ex non ea elit do ullamco deserunt deserunt. Dolore sit aliquip ut ullamco in fugiat excepteur non ut sit. Nostrud minim sit minim ex irure pariatur est officia exercitation laboris quis officia sit. Qui amet sit tempor aliqua elit laborum reprehenderit labore do id. Aute proident minim ea anim non adipisicing.
				.col-sm-6.col-lg-3
					h5.mt-4 Publishing
					p Id ipsum nisi cupidatat deserunt enim consequat fugiat qui consequat. Est cupidatat ex non ea elit do ullamco deserunt deserunt. Dolore sit aliquip ut ullamco in fugiat excepteur non ut sit. Nostrud minim sit minim ex irure pariatur est officia exercitation laboris quis officia sit. Qui amet sit tempor aliqua elit laborum reprehenderit labore do id. Aute proident minim ea anim non adipisicing.
			.row.text-center.justify-content-center
				a(title="Dataflow Learning Website", href="http://dataflowlearning.com/#industries", target="_blank").btn.btn-primary.mt-4
					i.fa.fa-external-link
					| Learn More
			h1.mt-5.text-center Services
			.row.text-center.justify-content-center.education-services
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Insight
					img.img-fluid.mb-4(src="images/education/insight.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Creation
					img.img-fluid.mb-4(src="images/education/creation.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Conversion
					img.img-fluid.mb-4(src="images/education/conversion.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Delivery
					img.img-fluid.mb-4(src="images/education/delivery.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Licensing
					img.img-fluid.mb-4(src="images/education/licensing.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
				.col-sm-6.col-md-4.col-lg-2
					h5.mt-4 Integration
					img.img-fluid.mb-4(src="images/education/integration.png")
					p Culpa laboris quis officia et et esse est exercitation officia proident.
			.row.text-center.justify-content-center
				a(title="Dataflow Learning Website", href="http://dataflowlearning.com/#solutions", target="_blank").btn.btn-primary.mt-4
						i.fa.fa-external-link
						| Learn More
			h1.text-center.mt-5.mb-3 Demos
			.row.text-center.edu-demos
				.col-sm-6.col-md-4
					a(href="#").profile.profile-upper
						.profile-img
							img(src="http://placehold.it/600x600", alt="").img-fluid
						.profile-desc
							h3 ADEC
							h5 Lorem Ipsum Dolor Sit Amet
					img(src="http://placehold.it/600x600", alt="").img-fluid
				.col-sm-6.col-md-4
					img(src="http://placehold.it/600x900", alt="").img-fluid
					img(src="http://placehold.it/600x300", alt="").img-fluid
				.col-sm-6.col-md-4
					img(src="http://placehold.it/600x600", alt="").img-fluid
					img(src="http://placehold.it/600x600", alt="").img-fluid
			h1.text-center.mt-5.mb-3 Education Leaders trust our solutions and services
			.row.text-center.education-clients
				.col-md-4.ml-0.mb-4
					.card.text-left.ml-0
						img.card-img-top.mt-4.ml-3(src="images/mcgraw-hill.jpg", alt="Card image cap")
						.card-block.page-scroll.case-link
							h4.card-title.mb-0 McGraw Hill
							h5 Case Study
							p.card-text Adipisicing est exercitation consequat aliqua amet qui excepteur proident occaecat elit laborum sint labore cupidatat.
							a(data-target="#case-study").btn.btn-primary.float-right.mt-4 Case Study
				.col-md-8.text-left.p-0.p-sm-1
					img.img-fluid.max-width-img.p-sm-3(alt="Pearson", src="images/Pearson-Logo-logotype-Horizontal.png")
					img.img-fluid.max-width-img.p-sm-3(alt="McGraw Hill", src="images/mcgrawhill-education.png")
					img.img-fluid.max-width-img.p-sm-3(alt="HMH", src="images/hmh.png")
					img.img-fluid.max-width-img.p-sm-3(alt="Cambridge University Press", src="images/CUP.png")
					img.img-fluid.max-width-img.p-sm-3(alt="Jeffco Public Schools", src="images/Jeffco_Board_logo.png")
					img.img-fluid.max-width-img.p-sm-3(alt="UAE Ministry of Education", src="images/moe-en-logo.png")
					img.img-fluid.max-width-img.p-sm-3(alt="Adec", src="images/adec-logo-color.png")
					img.img-fluid.max-width-img.p-sm-3(alt="Folens", src="images/folens-logo-noshadow.png")
			.row.justify-content-center.mt-5#case-study
				.col-lg-12
					h1.text-center Case Study: McGraw Hill
					div(style="width:100%;height:300px;background-color:rgba(0,0,0,0.5)").e-reader.mb-4
						p.text-white.text-center Infographic
					p Incididunt ex dolore aute irure do. Reprehenderit ex ad in irure. Dolore aliquip est enim aliqua laborum voluptate nostrud esse ut occaecat commodo anim. Sunt cupidatat est sit nostrud culpa exercitation nisi nostrud. Do voluptate et proident fugiat cillum. Excepteur cillum duis id reprehenderit eu sint consequat.Tempor incididunt quis cillum ad irure ut ad enim nulla enim. Id duis esse ullamco commodo quis. Sit aliqua occaecat ut mollit Lorem aliquip ad aliquip nostrud ea dolor anim commodo. Anim qui Lorem cupidatat quis fugiat laboris enim ullamco aute cillum duis. Tempor amet qui enim occaecat tempor. Lorem tempor magna adipisicing fugiat magna aliquip non. Magna officia in aliquip ea quis Lorem.Cillum in adipisicing id tempor ex consequat sint duis consectetur. Qui est ipsum tempor do est proident eu. Culpa deserunt voluptate ad sint. Elit labore incididunt cillum esse cupidatat culpa consequat laboris do pariatur minim officia.

block js
	script(src="js/jquery/jquery.easing.min.js")
	script(src="js/link-easing.js")
	script(src="js/profile.js")
