extends ../layouts/default

block content
	section#healthcare.main
		.container
			.row.overview.justify-content-center
				.col-lg-12
					h1.text-center Healthcare Solutions
					p.lead HealthFlow, Dataflow’s Hospital Information Management System, provides a fully integrated suite of digital solutions to hospitals and healthcare professionals across the Middle East and North Africa.</p>
					p.lead HealthFlow’s range of customizable modules cover all aspects of the hospital’s administrative and clinical workflows. Offered as a comprehensive or modular system, HealthFlow is a fully web-based solution, hosted in the cloud or deployed on site via a multi-tiered service oriented architecture, with full physician and nursing mobile applications support.</p>
					p.lead HealthFlow allows hospitals to streamline processes and workflows, improve data driven decision making, enhance clinical outcomes while at the same time reduce costs.
					p.lead Multilingual, including full Arabic support, HealthFlow offers flexibility and affordability to hospitals, based on a deep understanding of the needs and practices of hospitals across the MENA region.
					p.text-center
						a(title="Dataflow Learning Website", href="http://dataflowhealth.com", target="_blank").btn.btn-primary.mt-4
							i.fa.fa-external-link
							| Learn More
			.row.svgs.mt-5.justify-content-center
				.col-sm-6.col-md-4.col-lg-4.mb-5
					.card.text-left
						
						.card-block.page-scroll.case-link
							img.card-img-top.mb-3.mt-1.img-fluid.display-block(src="images/santovia.png", alt="Santovia Logo")
							subtitle.text-left Case Study
							p.card-text.ml-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
							a.btn.btn-primary.float-right.mt-4(data-target="#case-study") Case Study
				.col-xs-12.col-sm-6.col-md-4.col-lg-4.text-center.mb-5
					a(target="_blank", href="http://dataflowhealth.com/solutions.html#clinical")
						img(src="images/healthcare.svg")
					a(target="_blank", href="http://dataflowhealth.com/solutions.html#clinical")
						h2 Clinical Solutions
					ul.lead
						li Lorem Ipsum
						li Point one
						li Another point
						li Point two
						li Another point
						li Point three.
				.col-xs-12.col-sm-6.col-md-4.col-lg-4.text-center.mb-5
					a(target="_blank", href="http://dataflowhealth.com/solutions.html#admin")
						img(src="images/business.svg")
					a(target="_blank", href="http://dataflowhealth.com/solutions.html#admin")
						h2 Administrative Solutions
					ul.lead
						li Lorem Ipsum
						li Point one
						li Another point
						li Point two
						li Another point
						li Point three.
			.m-5(id="recent-projects")
				h1.mt-5.full-width Recent Solutions
					.row.mt-5.centered.display-flex
						a.flex-1(title="Santovia website", href="about.html#santovia")
							img.img-fluid(src="images/santovia.png", alt="Santovia Logo")
						a.flex-1(title="Republic of Lebanon Ministry of Public Health website", href="about.html#moph")
							img.img-fluid.margin-top-img(src="images/moph.png", alt="Republic of Lebanon Ministry of Public Health Logo")
			.row.justify-content-center.mt-5#case-study
				.col-lg-12
					h1.text-center Case Study: Santovia
					div(style="width:100%;height:300px;background-color:rgba(0,0,0,0.5)").e-reader.mb-4
						p.text-white.text-center Infographic
					p Incididunt ex dolore aute irure do. Reprehenderit ex ad in irure. Dolore aliquip est enim aliqua laborum voluptate nostrud esse ut occaecat commodo anim. Sunt cupidatat est sit nostrud culpa exercitation nisi nostrud. Do voluptate et proident fugiat cillum. Excepteur cillum duis id reprehenderit eu sint consequat.Tempor incididunt quis cillum ad irure ut ad enim nulla enim. Id duis esse ullamco commodo quis. Sit aliqua occaecat ut mollit Lorem aliquip ad aliquip nostrud ea dolor anim commodo. Anim qui Lorem cupidatat quis fugiat laboris enim ullamco aute cillum duis. Tempor amet qui enim occaecat tempor. Lorem tempor magna adipisicing fugiat magna aliquip non. Magna officia in aliquip ea quis Lorem.Cillum in adipisicing id tempor ex consequat sint duis consectetur. Qui est ipsum tempor do est proident eu. Culpa deserunt voluptate ad sint. Elit labore incididunt cillum esse cupidatat culpa consequat laboris do pariatur minim officia.

block js
	script(src="js/jquery/jquery.easing.min.js")
	script(src="js/link-easing.js")